@using Microsoft.AspNetCore.Http
@model LogViewModel
@{
    ViewData["Title"] = "Log List";
    Layout = "~/Views/Shared/_LogLayout.cshtml";
}
<h1>Log List</h1>

<p>Use this page to detail your site's privacy policy.</p>