.searchFiltersGrid {
  @media (min-width: $mantine-breakpoint-lg) {
    margin: 1em 2em;
  }
}

.pagingGrid {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 0.5em;
  justify-content: space-between;

  @media (min-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
  }
}

.paginationGrid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  gap: 0.4em;

  @media (min-width: em(800)) {
    align-items: center;
    justify-self: end;
  }
}

.refreshButton {
  @keyframes blink {
    0% {
      box-shadow: 'transparent';
    }
    50% {
      box-shadow: 0 0 0.7em #efeff0;
    }
    100% {
      box-shadow: 'transparent';
    }
  }

  border: 4px solid transparent;
  animation: blink 2.5s ease-in infinite;
  border-radius: 50%;
  height: 30px;
  padding: 2px;
  width: 30px;
}

.activateRefreshButton {
  border: 4px solid transparent;
  border-radius: 50%;
  height: 30px;
  padding: 2px;
  width: 30px;
}
