.mobileTableWrapper {
  margin: em(4px);
}

.mobileCardHeaderWrapper {
  margin: em(0.2em);
  display: flex;
  justify-content: center;
}

.mobileCardHeaderText {
  display: grid;
  gap: em(0.1);
  padding: 0 1em 0.3em;
  align-items: center;
  justify-content: center;
}
